forelesninger/forelesning-01/01-personer/b-xml-schema-no-ns/personer.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema
      xmlns:xs="http://www.w3.org/2001/XMLSchema">

<!-- Type Definisjoner - Simple -->
  <xs:simpleType name="pnrType">
    <xs:restriction base="xs:integer">
      <xs:minExclusive value="0"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="fornavnType">
    <xs:restriction base="xs:string">
      <xs:maxLength value="20" />
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="etternavnType">
    <xs:restriction base="xs:string">
      <xs:maxLength value="50" />
    </xs:restriction>
  </xs:simpleType>

<!-- Type Definisjoner - Complex -->
  <xs:complexType name="personType">
    <xs:sequence>
      <xs:element name="pnr" type="pnrType" />
      <xs:element name="fornavn" type="fornavnType" />
      <xs:element name="etternavn" type="etternavnType" />
      <xs:element name="fodselsdato" type="xs:date" />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="personerType">
    <xs:sequence>
      <xs:element type="personType" name="person" maxOccurs="unbounded" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>

<!-- Element Definisjoner -->
  <xs:element name="personer" type="personerType" />

</xs:schema>