videoer/video-03/birken-paamelding.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"  elementFormDefault="qualified">
   <xs:element name="person">
      <xs:complexType>
         <xs:sequence>
            <xs:element name="id" type="xs:ID"/>
            <xs:element name="navn" type="xs:string"/>
            <xs:element name="fdato" type="xs:date"/>
            <xs:element name="medlem" type="xs:boolean"/>
            <xs:element name="poeng" type="xs:decimal"/>
            <xs:element name="hjemmeside" type="xs:anyURI"/>
            <xs:element name="pulje" type="xs:integer"/>
            <xs:element name="starttid" type="xs:dateTime"/>
            <xs:element name="foresattId" type="xs:IDREF" minOccurs="0"/>
         </xs:sequence>
      </xs:complexType>
   </xs:element>

   <xs:element name="birken">
      <xs:complexType>
         <xs:sequence>
            <xs:element ref="person" maxOccurs="unbounded"/>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
</xs:schema>